.entry {
  margin: 0;
  height: 100%;
  padding-top: 28px;
  /* background: linear-gradient(113.23809316242614deg, rgba(222, 151, 44,1) 0.986328125%,rgba(221, 150, 44,1) 0.986328125%,rgba(1, 14, 112,1) 96.68945312499999%); */
  /* background: rgb(255, 217, 50) */
  background: #f5f5f5;
  position: relative;
  overflow: hidden;
}

.entry__logo {
  text-align: center;
  margin: 20px;
  font-size: 28px;
  color: #364f6b;
}

.entry__logo__img {
  width: 320px;
  height: auto;
}

.entry__formBox {
  display: block;
  width: 800px;
  max-width: 1024px;
  margin: 0 auto;
  /* background: rgba(0, 0, 0, 0.1); */
  background: #fff;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 4px;
  position: relative;
  padding: 100px 0;
}

.entry__newLink {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: #fc5185;
  padding: 10px 40px;
  border-radius: 40px;
}

.entry__newLink:hover {
  opacity: 0.8;
}

.entry__form {
  display: block;
  position: relative;
}
.entry__formBody {
  text-align: center;
  color: #333333;
  margin: 20px 0;
}
.entry__row {
  margin: 32px;
}
.entry__row--1 {
  margin-top: 52px;
}

.entry__form__input {
  border:0;
  padding:10px;
  font-size: 14px;
  font-family:Arial, sans-serif;
  color:#333333;
  border:solid 1px #ccc;
  width:300px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  margin-right: 8px;
}

.entry__joinLink {
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: #3fc1c9;
  padding: 10px 40px;
  border-radius: 40px;
}

.entry__joinLink:hover {
  opacity: 0.8;
}

.entry__note {
  font-size: 12px;
  color: #333;
  margin-top: 4px;
}

.copyright {
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
  font-size: 12px;
  color: #333
}

@media screen and (max-width: 380px) {
  .entry {
    padding-top: 12px;
  }
  .entry__logo {
    margin-top: 32px;
  }
  .entry__newLink {
    display: block;
    width: 100px;
    margin: 8px auto;
  }
  .entry__formBox {
    padding: 50px 0;
    margin-top: 50px;
  }
  .entry__form__input {
    margin: 0 auto;
    width: 232px;
  }
  .entry__formBox {
    width: 320px;
  }
  .entry__joinLink {
    display: block;
    width: 100px;
    margin: 8px auto;
  }
  .entry__formBody {
    width: 300px;
    margin: 0 auto;
  }
}